
*{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.699);
    background-color: black;
}
.container{

    margin: 5% auto;
    width: 50vw;
    height: auto;
    /* background-color: gray; */
}
.upperLayer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#searchBox{
    width: 50%;
}
#btn-mkt-cap,#btn-srt-per{
    width: 23%;
   
}
#searchBox,#btn-mkt-cap,#btn-srt-per{
    border: 1px solid gray;
   
    padding: 1%;
}
table{
    width: 100%;
    margin-top: 1%;
    border-collapse: collapse;
}
table tr {
    border-bottom: 1px solid white;
}
table tr td{
    padding: 2% 1%;
}
.imageSection{
    display: flex;
    align-items: center;
}
.imageSection img{
    align-self: center;
}
